<div class="grid-container">
  <h1 class="mat-h1">Appeal</h1>

  <div class="mat-elevation-z8">
    <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="appealId">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let appeal">{{appeal.appealId}}</td>
      </ng-container>

      <ng-container matColumnDef="dptCode">
        <th mat-header-cell *matHeaderCellDef>Dept</th>
        <td mat-cell *matCellDef="let appeal">{{appeal.department.departmentCode}}</td>
      </ng-container>

      <ng-container matColumnDef="mpid">
        <th mat-header-cell *matHeaderCellDef>MPID</th>
        <td mat-cell *matCellDef="let appeal">{{appeal.mpid}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator
      #paginator
      [length]="totalRows"
      [pageIndex]="currentPage"
      [pageSize]="pageSize"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageChanged($event)" >
    </mat-paginator>
  </div>

</div>
